.container {
    display: grid;
    min-height: 100vh;
}

/*.gallery {
    min-height: 100vh;
}*/

.gallery {
    display: flex;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-items: center;

}
